apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: argocd

commonLabels:
  app.kubernetes.io/managed-by: kustomize

resources:
  - namespace.yaml
  - https://raw.githubusercontent.com/argoproj/argo-cd/v3.3.1/manifests/install.yaml
  - app-of-apps/argocd-app.yaml